In [12]:
# import libs
import pandas as pd
from sklearn.feature_extraction.text import TfidfVectorizer
from sklearn.decomposition import NMF

In [4]:
# get the data
npr_df = pd.read_csv('npr.csv')
npr_df.head()

                                             Article
0  In the Washington of 2016, even when the polic...
1    Donald Trump has used Twitter  —   his prefe...
2    Donald Trump is unabashedly praising Russian...
3  Updated at 2:50 p. m. ET, Russian President Vl...
4  From photography, illustration and video, to d...

In [8]:
idf = TfidfVectorizer(max_df=0.95, min_df=2, stop_words='english')

In [9]:
dtm = idf.fit_transform(npr_df['Article'])

In [11]:
dtm

<11992x54777 sparse matrix of type '<class 'numpy.float64'>'
	with 3033388 stored elements in Compressed Sparse Row format>

In [13]:
nmfm = NMF(n_components=12, random_state=42)

In [14]:
nmfm.fit(dtm) # nmf quite a bit faster than the lda

/usr/local/lib/python3.7/dist-packages/sklearn/decomposition/_nmf.py:294: FutureWarning: The 'init' value, when 'init=None' and n_components is less than n_samples and n_features, will be changed from 'nndsvd' to 'nndsvda' in 1.1 (renaming of 0.26).
  FutureWarning,

NMF(n_components=12, random_state=42)

In [15]:
idf.get_feature_names()[2300]

/usr/local/lib/python3.7/dist-packages/sklearn/utils/deprecation.py:87: FutureWarning: Function get_feature_names is deprecated; get_feature_names is deprecated in 1.0 and will be removed in 1.2. Please use get_feature_names_out instead.
  warnings.warn(msg, category=FutureWarning)

'albala'

In [16]:
for index, topic in enumerate(nmfm.components_):
  print(f"The top 10 words fot topic # {index + 1}")
  print([idf.get_feature_names()[i] for i in topic.argsort()[-10:]])
  print("\n\n\n")

The top 10 words fot topic # 1

/usr/local/lib/python3.7/dist-packages/sklearn/utils/deprecation.py:87: FutureWarning: Function get_feature_names is deprecated; get_feature_names is deprecated in 1.0 and will be removed in 1.2. Please use get_feature_names_out instead.
  warnings.warn(msg, category=FutureWarning)

['years', 'like', 'study', 'company', 'new', 'percent', 'people', 'water', 'food', 'says']




The top 10 words fot topic # 2
['presidential', 'obama', 'white', 'house', 'republican', 'campaign', 'donald', 'said', 'president', 'trump']




The top 10 words fot topic # 3
['tax', 'plan', 'people', 'affordable', 'obamacare', 'coverage', 'medicaid', 'insurance', 'care', 'health']




The top 10 words fot topic # 4
['said', 'house', 'flynn', 'committee', 'investigation', 'russian', 'intelligence', 'russia', 'fbi', 'comey']




The top 10 words fot topic # 5
['party', 'vote', 'state', 'delegates', 'democratic', 'hillary', 'campaign', 'voters', 'sanders', 'clinton']




The top 10 words fot topic # 6
['book', 'don', 'life', 'women', 'really', 'know', 'just', 'people', 'think', 'like']




The top 10 words fot topic # 7
['devos', 'children', 'kids', 'college', 'teachers', 'student', 'education', 'schools', 'school', 'students']




The top 10 words fot topic # 8
['pregnant', 'microcephaly', 'cases', 'health', 'disease', 'mosquitoes', 'mosquito', 'women', 'virus', 'zika']




The top 10 words fot topic # 9
['killed', 'city', 'reports', 'shooting', 'attack', 'black', 'officer', 'said', 'officers', 'police']




The top 10 words fot topic # 10
['order', 'president', 'state', 'senate', 'federal', 'judge', 'justice', 'law', 'supreme', 'court']




The top 10 words fot topic # 11
['aleppo', 'russia', 'said', 'war', 'korea', 'forces', 'military', 'syrian', 'syria', 'isis']




The top 10 words fot topic # 12
['artists', 'new', 'guitar', 'audio', 'desk', 'band', 'songs', 'song', 'album', 'music']

In [17]:
topic_res = nmfm.transform(dtm).argmax(axis=1)

In [18]:
npr_df['topic'] = topic_res
npr_df.head(15)

                                              Article  topic
0   In the Washington of 2016, even when the polic...      3
1     Donald Trump has used Twitter  —   his prefe...      1
2     Donald Trump is unabashedly praising Russian...      1
3   Updated at 2:50 p. m. ET, Russian President Vl...      3
4   From photography, illustration and video, to d...      6
5   I did not want to join yoga class. I hated tho...      5
6   With a   who has publicly supported the debunk...      0
7   I was standing by the airport exit, debating w...      0
8   If movies were trying to be more realistic, pe...      0
9   Eighteen years ago, on New Year’s Eve, David F...      0
10  For years now, some of the best, wildest, most...      5
11  For years now, some of the best, wildest, most...      5
12  The Colorado River is like a giant bank accoun...      0
13  For the last installment of NPR’s holiday reci...      5
14  Being overweight can raise your blood pressure...      0